<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.CarApp.car">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera2.full"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <application
        android:name="com.CarApp.car.app.parseserverclass"
        android:allowBackup="true"
        android:icon="@drawable/rotarymoe"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.CarApp.car.activity.CameraApiTwo"></activity>
        <activity android:name="com.CarApp.car.activity.AndroidCamraTwo"></activity>
        <activity
            android:name="com.CarApp.car.activity.PappActivity"
            android:screenOrientation="landscape" />
        <activity android:name="com.CarApp.car.activity.TyreCheckActivity"></activity>
        <activity
            android:name="com.CarApp.car.activity.TestActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.CarApp.car.activity.CameraActivityTwo"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.CarApp.car.activity.SignUpActivity" />
        <activity android:name="com.CarApp.car.activity.TermsAndConditionsActivity" />
        <activity
            android:name="com.CarApp.car.activity.CameraActivity"
            android:screenOrientation="landscape" />
        <activity android:name="com.CarApp.car.activity.LoginActivity" />
        <activity android:name="com.CarApp.car.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.CarApp.car.activity.BasicActivity"></activity>
        <activity android:name="com.CarApp.car.activity.MainActivity" />
    </application>
</manifest>